@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
}

@layer utilities {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #374151; /* gray-700 */
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563; /* gray-600 */
  }
}
